.banner {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    height: 100vh;


    &__wrapper {
        margin-right: auto;
        margin-left: 10vw;
        display: grid;
        height: inherit;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
        
        
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }
    &__info {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        .halftone-a {
            position: absolute;
            top: 20rem;
            right: 10rem;
        }
        ul { 
            display: flex;
            list-style: none;
            li {
                margin: 0 4rem;
                font-size: 1.4rem;
            }
        }
    }

    &__text {
        margin-top: 20rem;
        max-width: 65rem;
        
        span {
            color: $secondary-color;
            font-size: 3.2rem;
            font-weight: bold;
        }

        h1 {
            color:$primary-color;
            text-transform: uppercase;
            line-height: .5;
            margin-bottom: 4rem;
        }
    }

    .halftone-b {
        position: absolute;
        bottom: 3rem;
        left: 0;

    }

    a.btn__scroll {
        position: absolute;
        left: 8vw;
        bottom: 8rem;
        transform: rotate(90deg);
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size:1.4rem;
        font-weight: bold;
        text-transform: uppercase;

        i {
            padding-left: 1rem;
            font-size:2rem;
        }
    }

    &__socmed {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        list-style: none;
        li {
            margin-bottom: 3rem;
            a {
                font-size: 2.5rem;
                color: #B8B8B8;
            }
        }
    }


}


.about {
    padding: 10rem 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__wrapperbox {
        padding: 4rem 2rem;
        position: relative;
        &__content {padding-top: 3rem;}
        .about-img {
            text-align: center;
            width: 100%;
            height: 85rem;
            object-fit: cover;
            display: block;
        }
        .about__block {
            padding:4rem 8rem;
            background-color: #FFF4DB;
            position: relative;
            margin:5rem 4rem;
            &__content {
                position: relative;
                z-index: 2;
                
            }
            
        .halftone-c {
            position: absolute;
            z-index: -1;
            top: -5rem;
            right: -5rem;
            }
        }
    } 
}

.service {
    position: relative;
    overflow: hidden;
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 15rem;
        padding: 10rem 5rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -2rem;
        width: 30rem;
        height: 30rem;
        background-color: #FFFAEF;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -2rem;
        width: 30rem;
        height: 30rem;
        background-color: #FFFAEF;
    }



    &__grid__item {
        box-shadow: .2rem .2rem 1rem rgba(90, 90, 90, 0.2);
        position: relative;
        .inner__wrapper {
            padding: 4rem;
            position: relative;
            z-index: 2;
            height: 100%;
            border: 1px solid $primary-color;
            background-color: $light-color;
            i {
                color: $primary-color;
                font-size: 4rem;
                display: inline-block;
                margin-bottom: 2rem;
            }

            h3 {
                text-transform: uppercase;
            }
            a {
                color: $primary-color;
                justify-content: flex-end;
                display: flex;
                i {
                    font-size: 1.8rem;
                    align-self: flex-end;
                    padding-left: 1rem;
                }
            }
        }
        img {
            position: absolute;
            top: -3rem;
            z-index: 1;
            right: -3rem;
        }
    }
}

.client {
    background-color: #F2F2F2;
    margin: 4rem 0;
    &__wrapper {
        padding: 3rem 0;
    }

    &__slider {
        text-align: center;
    }
}


.faq {
    padding: 5rem 0;
    &__grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    &__content {
        background-color: $primary-color;
        padding: 2rem;
        color: $light-color;
    }

    &__wrapper {
        padding-right: 5rem;
    }
    &__box__question {
        border-bottom:2px solid #F2F2F2;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        h3 {
            padding: 1rem 0;
            margin-bottom: 0;
        }
    }
    &__box__question.open {
        h3, i {
           color: $primary-color;
        }
        i {
            transform: rotate(90deg);
        }

    }
    &__box__answer{
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        height: auto;
    }
    &__box__answer.active {
        max-height: 10rem;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    }
}

.testimonial {
    padding: 5rem;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 65rem;
        height: 20rem;
        background-color: #f9f9f9;
        top: 15rem;
        left: -4rem;
        z-index: -1;
    }

     &__wrapper {
        padding-right: 2rem;
        
        h2 {
            margin-bottom: 10rem;
        }


    }
    &__grid {
        display: grid;
        grid-template-columns: 30rem 1fr;
    }
    &__grid__item {
        overflow: hidden;
    }
    &__sliderbox {
        position: relative;
        .flex {
            display: flex;
        }
     
        &__content {
            float: left;
            padding: 2rem;
            h4 {
                margin-bottom: 1rem;
                font-size: 2rem;
                } 
            span {
                font-style: italic; 
                display: inline-block; 
                margin-bottom: 3rem;
                font-size: 1.4rem;
            }
            ul {
                list-style: none;
                display: flex;

                li i {
                    color: $primary-color;
                }
            }
        }
    }
}